body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.dribbble.com/users/211312/screenshots/5967511/artboard_2-100.jpg");
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* !!!need to fix this area for scaling!!! */
/* @media screen and (max-width: 768px) {.container {
  color: black;
}
} */
/* NAVBAR */

.navbar-brand {
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
 
}

#whitename {

  color:white;
  text-align: center;
  
}

#h20 {
  margin-left: 20px;

}
h1 {
  color: #4aaaa5;
  background-color: #ffffff;
  border-color: #cccccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-left: 20px;
}



h2 {
  color: grey;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p { font-size: 15px;
 

}
#tinkbar {
  width:80px


}

.hr {
  background-color: grey;
  opacity: .4;
  height: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
  overflow: auto;
  background-color: white;
  border-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  
}

.contactpage {
  margin-left: 20px;
}

#sidepicture {
  width: 250px;
  margin-right: 20px;
  float: left;

}


.work {
  position: relative;
  width: 200px;
  margin: 20px 0;
  overflow: auto;
}

.work img {
  width: 200px;
  height: 200px;
}

.work h3 {
  background-color: #4aaaa5;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

/* CONTACT PAGE */

#namebox, #emailbox {
  width: 96%;
  border: 1px solid #aaaaaa;
  border-radius: 1px;
  margin: 8px 0;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#namebox:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px;
  color: dodgerblue;
  color: black;
}

#emailbox:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px;
  color: dodgerblue;
  color: black;
}

#messagebox {
  width: 96%;
  border: 1px solid #aaaaaa;
  border-radius: 1px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

#messagebox:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px;
  color: dodgerblue;
  color: black;
}

#submitbox {
  padding: 12px 35px;
  background-color: #4aaaa5;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 25px;
}

#submitbox:hover {
  background-color: darkblue;
}

/* CONTACT PAGE */



footer {
  position: fixed;
  left:0;
  bottom:0;
  height: 40px;
  background-color: grey;
  margin-top: auto;
  width: 100%;
  border: 6px solid #4aaaa5;
  border-style: solid none none none;
  text-align: center;
  color: white;
  font-size: 11px;
}

@media screen and (max-width: 768px) {

  
}